In [1]:
import pandas as pd
import numpy as np 
from scipy import sparse 
import matplotlib.pyplot as plt
from sklearn.feature_selection import f_regression, mutual_info_regression
from load_save_csr import load_sparse_csr, save_sparse_csr
%matplotlib inline

In [4]:
df = pd.read_csv('mutation_based_df.csv')

y = df['medianBrightness'].values
x = df.drop(df[['Unnamed: 0', 'uniqueBarcodes', 'medianBrightness','std']], axis=1)

In [42]:
print len(y)==len(x)

True

In [57]:
idx = np.random.choice(len(y),500, replace=False) #select a random subset 
y_ = y[idx]
x_ = x.ix[idx]

In [58]:
mi = mutual_info_regression(x_.values,y_) #compute the scores

In [59]:
print len(mi)==len(x.columns)

True

In [60]:
feature_score = pd.DataFrame(data={'aamutation': x.columns, 'score':mi})
feature_score.sort_values(by=['score'], ascending= False).head()

     aamutation     score
1066     SL219P  0.020815
178      SD232G  0.018512
1768      SW55R  0.016144
1502     SS173G  0.014237
428       SF81S  0.013323

In [43]:
df.head()

,Unnamed: 0,SA108D,SA108G,SA108P,SA108S,SA108T,SA108V,SA152D,SA152G,SA152P,...,SY90C,SY90D,SY90F,SY90H,SY90N,SY90R,SY90S,uniqueBarcodes,medianBrightness,std
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.301030,NaN
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.301031,NaN
2,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.301189,NaN
3,3,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,3.708478,0.020613
4,4,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3.582764,NaN