# Feature selection with mutual info (MI)

Trying to find  statistic descriptions of the importace of the variables on the birghtness value

In [20]:
import pandas as pd
import numpy as np 
from scipy import sparse, stats
import matplotlib.pyplot as plt
from sklearn.feature_selection import mutual_info_regression
from load_save_csr import load_sparse_csr, save_sparse_csr
%matplotlib inline

In [2]:
df = pd.read_csv('mutation_based_df.csv', index_col=0)

y = df['medianBrightness'].values
x = df.drop(df[['uniqueBarcodes', 'medianBrightness','std']], axis=1)

In [3]:
print len(y)==len(x)

True

In [4]:
#select a random subset if do'nt want to use all the data

idx = np.random.choice(len(y),1000, replace=False) 
y_ = y[idx]
x_ = x.ix[idx]

In [5]:
x_csr = sparse.csr_matrix(x_.values) # x to sparse

In [6]:
# freedom for RAM nation
del df
del x

Mutial info regressor with K-NN

In [28]:
mi = mutual_info_regression(x_csr,y_,n_neighbors=10) #compute the scores, it takes a while on all data

In [9]:
print len(mi)==len(x_.columns) #true

True

In [10]:
feature_score = pd.DataFrame(data={'aamutation': x_.columns, 'score':mi})
feature_score.sort_values(by=['score'], ascending= False).head()

     aamutation     score
437       SF82S  0.018141
1502     SS173G  0.017997
803      SK111E  0.014771
456       SF98S  0.014349
188       SD34G  0.013954

Here this shows the mutation that gives more information of the target value (brigthness). The higher score value (bits) means that the brightness values when this particular mutation appears stays around the same value. If the high score mutations have low brightness it's likely that they will have always low brightness.

The following code is for checking the $k$ parm of the function and how it affects the compu:

In [15]:
mi_l=[]
for i in xrange(1,11):
    mi_l.append(mutual_info_regression(x_csr,y_,n_neighbors=i))

In [23]:
mi_df=pd.DataFrame(mi_l)

In [27]:
mi_df.T.describe()

,0,1,2,3,4,5,6,7,8,9
count,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000,1879.000000
mean,0.000527,0.000524,0.000522,0.000522,0.000524,0.000523,0.000525,0.000522,0.000523,0.000521
std,0.001599,0.001582,0.001580,0.001584,0.001584,0.001590,0.001591,0.001586,0.001576,0.001577
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.018431,0.017997,0.017997,0.018141,0.017997,0.018077,0.017997,0.017997,0.017997,0.017997

feature_score.to_csv('feature_score.csv')

feature_score.sort_values(by=['score'], ascending=True)